{% macro ChatLayout(chat_metadata, chat_history) %}
  <div hx-ext="ws" ws-connect="/chat">
    <div class="flex flex-col items-center justify-center h-screen">
      <div class="h-10 w-2/3 flex text-white">
        {{ ChatHeader(chat_metadata) }}
      </div>
      <div
        class="flex-1 overflow-y-auto min-h-0 w-2/3 bg-base-200 flex items-center justify-center text-white"
      >
        {{ ChatHistory(chat_history) }}
      </div>
      <div class="h-30 w-2/3 flex items-center justify-center text-white">
        {{ ChatBox() }}
      </div>
    </div>
  </div>
{% endmacro %}

{% macro ChatHeader(chat_metadata) %}
  <div class="text-xl">{{ chat_metadata.chat_name }}</div>
{% endmacro %}

{% macro ChatHistory(chat_history) %}
  <ul class="list w-full" id="chat-history">
    {% for chat in chat_history %}
      {{ ChatHistoryRow(chat) }}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro ChatHistoryRow(chat) %}
  <li class="list-row hover:bg-info-content">
    <div class="size-10 rounded-box bg-primary"></div>
    <div>
      <div class="text-sm uppercase font-semibold opacity-60">
        {{ chat.sent_at.strftime('%Y-%m-%d %H:%M') }}
      </div>
      <div class="list-col-wrap">{{ chat.message }}</div>
    </div>
  </li>
{% endmacro %}

{% macro ChatHistoryRowOOBSwap(chat) %}
  <div hx-swap-oob="beforeend" id="chat-history">
    {{ ChatHistoryRow(chat) }}
  </div>
{% endmacro %}

{% macro ChatBox() %}
  <div id="chat-box" class="w-full">
    <form id="form" ws-send hx-trigger="submit from:body">
      <input
        type="hidden"
        name="sender_id"
        value="ad9cbee16a7c4d93bacbce606e726ebb"
      />
      <div class="relative w-full">
        <textarea
          name="message"
          rows="4"
          cols="20"
          class="textarea w-full focus:outline-none focus:ring-0 border-2 rounded-md"
          style="resize: none;"
        ></textarea>
        <input
          type="submit"
          value="Send"
          class="btn btn-soft absolute bottom-3 right-2 px-4 py-2"
        />
      </div>
    </form>
  </div>
{% endmacro %}
