{% macro Chat(chat_history) %}
  <div class="flex items-center justify-center h-screen">
    <div class="grid grid-cols-1 grid-rows-2 gap-4">
      <div class="card-md bg-base-100 w-250">
        {{ ChatHistory(chat_history) }}
      </div>
      <div class="card-md bg-base-100 w-250">{{ ChatBox() }}</div>
    </div>
  </div>
{% endmacro %}

{% macro ChatHistory(chat_history) %}
  <div class="list" id="chat-history">
    {% for chat in chat_history %}
      {{ ChatHistoryRow(chat) }}
    {% endfor %}
  </div>
{% endmacro %}

{% macro ChatHistoryRow(chat) %}
  <div class="list-row">{{ chat.message }}</div>
{% endmacro %}

{% macro ChatBox() %}
  <div id="chat-box" class="w-full">
    <form hx-post="/send-chat" hx-target="#chat-history" hx-swap="beforeend">
      <input
        type="hidden"
        name="sender_id"
        value="ad9cbee16a7c4d93bacbce606e726ebb"
      />
      <textarea name="message" rows="8" cols="20" class="w-full"></textarea>
      <br />
      <button type="submit" class="btn" style="resize: none">Send</button>
    </form>
  </div>
{% endmacro %}
