{% macro TodoList(todo_list) %}
  <div id="todo-list">
    {% for todo_item in todo_list %}
      {{ Todo(todo_item) }}
    {% endfor %}
  </div>
  <br /><br />
  {{ AddFormButton() }}
{% endmacro %}

{% macro Todo(todo_item) %}
  <div id="todo-item-{{ todo_item.id }}" style="width: 150px">
    <h3>{{ todo_item.title }}</h3>
    <div>{{ todo_item.description }}</div>
    <br />
    <div
      id="todo-item-{{ todo_item.id }}-buttons"
      style="display: grid; grid-template-columns: 1fr"
    >
      <div>{{ TodoStatusButton(todo_item.id, todo_item.status) }}</div>
      <div style="display: grid; grid-template-columns: 1fr 1fr">
        <div>{{ TodoDeleteButton(todo_item.id) }}</div>
        <div>{{ TodoEditButton(todo_item.id) }}</div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro TodoStatusButton(id, status) %}
  <div id="todo-status-button-{{ id }}">
    <div>
      {% if status == True %}
        Completed!
      {% else %}
        Incomplete
      {% endif %}
    </div>
    <button hx-post="/toggle/{{ id }}" hx-target="#todo-status-button-{{ id }}">
      {% if status == True %}
        Set to "Incomplete"
      {% else %}
        Set to "Completed"
      {% endif %}
    </button>
  </div>
{% endmacro %}

{% macro TodoDeleteButton(id) %}
  <div id="todo-delete-button-{{ id }}">
    <button
      hx-delete="/delete/{{ id }}"
      hx-target="#todo-item-{{ id }}"
      hx-swap="outerHTML"
    >
      Delete
    </button>
  </div>
{% endmacro %}

{% macro TodoEditButton(id) %}
  <div id="todo-edit-button-{{ id }}">
    <button
      hx-get="/edit-form/{{ id }}"
      hx-target="#todo-item-{{ id }}"
      hx-swap="outerHTML"
    >
      Edit
    </button>
  </div>
{% endmacro %}

{% macro TodoEditForm(todo_item) %}
  <div id="edit-todo-form-{{ todo_item.id }}">
    <form hx-post="/edit/{{ todo_item.id }}" hx-swap="outerHTML">
      <label for="title">Todo Title</label>
      <input type="text" value="{{ todo_item.title }}" name="title" />
      <br />
      <label for="description">Description</label>
      <textarea
        rows="2"
        cols="20"
        name="description"
        placeholder="{{ todo_item.description }}"
      ></textarea>
      <br />
      <button type="submit">Submit</button>
    </form>
  </div>
{% endmacro %}

{% macro NewTodo() %}
  <div id="new-todo-form">
    <form hx-post="/new" hx-target="#todo-list" hx-swap="beforeend">
      <label>Todo Title</label>
      <input type="text" value="Add title here" name="title" />
      <br />
      <label>Description</label>
      <textarea rows="2" cols="20" name="description"></textarea>
      <br />
      <button type="submit">Submit</button>
    </form>
  </div>
{% endmacro %}

{% macro AddFormButton() %}
  <div id="show-form" hx-swap-oob="#new-todo-form">
    <button hx-get="/show-form" hx-swap="outerHTML">Add New</button>
  </div>
{% endmacro %}
