<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.2"></script>
  </head>
  <body>
    <h1>WebSocket Chat</h1>
    <div hx-ext="ws" ws-connect="/ws">
      <div id="messages">
        <ul id="message_list"></ul>
      </div>

      <form id="form" ws-send hx-trigger="submit from:body">
        <input
          type="hidden"
          name="sender_id"
          value="ad9cbee16a7c4d93bacbce606e726ebb"
        />
        <input type="text" name="message" placeholder="Type your message..." />
        <input type="submit" value="Send" />
      </form>
    </div>
    <script>
      document.body.addEventListener("htmx:wsBeforeSend", (e) => {
        console.log("Sending WS message:", e.detail);
      });
      document.body.addEventListener("htmx:wsAfterSend", (e) => {
        console.log("WS message sent successfully:", e.detail);
      });
      document.body.addEventListener("htmx:wsError", (e) => {
        console.error("WS error:", e.detail);
      });
    </script>
  </body>
</html>
